* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
   color: #fff;

}

html,
body {
    height: 100%;
    width: 100%;
}
*::selection{
   color: black;
   background-color:rgb(169, 161, 161);
}
.mini-circle{
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 99;
    border-radius: 50%;
    background-color: #fff;
    transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
}


#main {
    width: 100%;
    background: #000;
}

#hero {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    position: relative;
}

#nav {
    color: #fff;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.boxforUpperSideAnimation{
 width: fit-content;   
 overflow: hidden;
}
.boxforUpperSideAnimation .upper{
    transform: translateY(100%);
}
#headings h1 {
    font-family: "General Sans Medium";
    line-height: 1;
    color: #a3a3a3;
    font-size: 10vw;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 30px;
}

#headings {
    margin-top: 40px;
}

#headings .designer {
    margin-left: 230px;
}

#blocktext {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.text-about a{
text-decoration: none;
text-transform: uppercase;
}
#blocktext h5 {
    width: fit-content;
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
}

#smallheadings {
    margin-top: 100px;
    padding-right: 30px;
    display: flex;
    /* background-color: aqua; */
    align-items: end;
    flex-direction: column;
}

#smallheadings h5 {
    /* background-color: brown; */
    text-align: right;
    text-transform: uppercase;
    font-size: 1vw;
    margin-top: .5vw;
}

#herofooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 2%;
    padding: 0 2vw;
}

#herofooter a {
    color: #fff;
    text-decoration: none;
 
    
}

.iconset {
    display: flex;
    gap: 5px;
}

#herofooter .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #888;
}

#second {

    padding-right: 10vw;
    padding-top: 180px;
    color: #fff;
    background: #000;
    width: 100%;
    height: 100vh;
}

.elem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3.5vw 3vw;
    padding-right: 0;
    border-top: 1px solid #888;
}

.elem h1 {
    text-transform: uppercase;
    font-size: 7.5vw;
    color: #a3a3a3;
    font-weight: 400;
}

#second .elemlast {
    border-bottom: 1px solid #888;
}

.elem img {

    opacity: 0;
    pointer-events: none;
    height: 140%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 10%;
    width: 40%;



}

#about {
    width: 100%;
    background-color: #000;
    padding: 10vw 5vw;
   display: flex;
    justify-content: center;
    margin-top:60px;
}

.image-about {
    height: 20vw;
    width: 20vw;
    background-image: url(black.jpg);
    border-radius: 50%;
    background-size: contain;
}
.text-about{
    width: 50vw;
    margin: 0 1vw;
    font-size:1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.subscribe{
    background: #000;
    color:#fff;
    padding: 7vw;    
text-transform: uppercase;


}
.subscribe h5{
    color:#a9a7a7 ;
    font-size: vw;
}
.subscribe h3{
    margin-top: 10px;
    font-size: 1vw;
}
.footer{
 display: flex;   
 justify-content: space-between;
 align-items: center;
 padding: 20px 30px;
 background: #000;
 color: #fff;
 font-size: 15px;
}
.footer1{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.footer a{
text-decoration: none;
text-transform: uppercase;
color: #fff;
margin-right: 10px;
}
